<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My flask{% endblock %}</title>
</head>
<body>
    <!-- <h2>this is first page for creating a template </h2>
    <h1>Hello Template, How are you {{content}}</h1>

    <div style="color: orange; background-color: skyblue;">
        <h2>Hello, {{name}} Flask Man</h2>
        <h2>This will give you a add..</h2>
    </div> -->
    {% block content %}
    {{name}}
    {% endblock %}
</body>
</html>